

body 
{ 

	background: #16222A; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FFFFFF;       
}


.text-heading
{
	font-family: "Poiret One";
	font-size: 600%;
	height: 200px;

}

.quote-box
{
	font-family: "Poiret One";
	font-size: 250%;
	height: 90px;
	width: 75%;
	position: relative;
	left: 13%;
}

#author-box
{
	font-family: "Poiret One";
	font-size: 150%;
	position: relative;
	height: 50px;
	left:80%;
	width: 25%;
}

.btn
{	
	font-family: "Poiret One";
	font-size: 200%;
	height: 100px;
	width: 100%;
	position: relative;
	left: 35%;
}


#button
{
	background: #16222A; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 1px solid #00c7ec;
	color: #FFFFFF;
	padding: 10px 28px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out; /* Safari */
    transition: all 0.4s ease-in-out;
}

#button:hover
{
	background: #FFFFFF;
	color: #00c7ec;
}



.fa-heart 
{
  color: red;
}

.footer-text
{
	font-family: "Poiret One";
	font-size: 200%;
}

#footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
}




